@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  bottom: auto!important;
  left: auto!important;
  right: auto!important;
  top: auto!important;
  transform-origin: center !important;
  transition: all ease .5s;
}

.market { 
  box-sizing: border-box;
  display: inherit;
  padding-inline: 1.25%;
  background-color: #1a1a1c;
  color: #fff;
}

.semi-headline {
  color: grey;
}

.box-bg {
  background-color: #262d47;
  font-family: "Montserrat";
}

.box-bg-cb {
  background-color: #262d47;
  /* margin-right: 30px; */
}
.box-corner {
  border-radius: 15px;
}

.ctc {
  color: #fff;
}

.bg-list {
  background-color: #131722;
}

.dashboardCard {
  text-align: center;
}
.dashboardCard:hover {
  transform: scale(1.1);
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
@media all and (max-width: 991px) {
  .fixPad {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .topPad {
    padding-top: 3rem;
  }
}
.card_body {
  color: transparent;
}

.card_body:hover {
  transform: rotate(-2deg) translate(5px, -5px);
}
.grad_color_btc {
  background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
  background-color: orange;
}
.grad_color_eth {
  background: linear-gradient(rgba(70, 64, 75, 0.5), transparent);
  background-color: #adb4db;
}
.grad_color_ltc {
  background: linear-gradient(rgba(120, 120, 124, 0.5), transparent);
  background-color: #c4bebe;
}
.grad_color_bch {
  background: linear-gradient(rgba(2, 36, 19, 0.5), transparent);
  background-color: #0ac18e;
}
.input-group:focus-within input {
  color: black !important;
  
}
.input-group input {
  color: black !important;
}
.example{
  position:absolute !important;
  }
/* ---------------------------------------------------------Wallet Card---------------------------------------------- */
.wallet .image {
  display: block;
  width: 100%;
  height: auto;
}

.wallet .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.wallet .container:hover .overlay {
  height: 100%;
}

.wallet .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}