**********************************************************************************************************************
                                               /* Dashboard */                        
**********************************************************************************************************************                                            
.dashboardCard{
    text-align: center;   
}
.dashboardCard:hover{
  transform:scale(1.1);
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}